<p id="notice"><%= notice %></p>

  <strong>Title</strong>
  <h1><%= @book.title %></h1>


  <h2>◼︎ <%= @book.headline %></h2>

  <%= image_tag(@book.image_url, width: 600) if @book.image.present? %>
<p>
  <strong>▼ 本文</strong>
  <%= @book.letter %>
</p>

<p>
  <strong>Image by </strong>
  <%= @book.image %>
</p>

<%= @book.user.email %>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
